 <footer class="foot-container">
   <div class="image">
     <a href="#"><img src="https://cdn.shopify.com/s/files/1/0455/3326/6085/files/f-1.png?v=1647978231"
                      alt="inklites"></a>
   </div>
   <p> &copy; ink lites</p>
</footer>
{% schema %}
{
  "name": "Footer",
  "settings": [
  	{
      "type": "header",
      "content": "Banner Section"
    }
  ],
  "presets": [
    {
      "name": "Footer",
       "blocks": [

      ]
    }
  ]
}
{% endschema %}